@{
    ViewData["Title"] = "Home Page";
}

<style>
    #qw2{
    
        font-size: 30px;
        margin-top: -3px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>
        <strong>Youtube Kanalıma gitmek için aşşağıdaki butona tıklayınız.</strong>
    </p>
    <a class="btn btn-danger" href="https://www.youtube.com/channel/UCZlhFB0CbVW1m8e7gSuoSXg?view_as=subscriber" target="_blank">
        <svg id="qw2" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
        YouTube
    </a>
</div>